# После изменений нужно выполнить команду: vagrant reload

# Базовые настройки
hostname: "docker.loc" # имя хоста
ip: "192.168.55.100" # ip адрес, домены приложения должны указывать на него
memory: 8096 # количество памяти, 8096 оптимально, минимум 2048
cpus: 4 # количество cpu ядер, 4 оптимально, минимум 2
mount: "rsync" # тип синхронизации файлов, варианты: rsync|nfs|sshfs
